@model Cowell_GuestBook.Models.ARTICLE

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>@Html.DisplayFor(model => model.Forum.TITLE)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AUTHOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHOR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BODY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BODY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUD_DTM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUD_DTM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPD_DTM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPD_DTM)
        </dd>
    </dl>
</div>


@* 在文章內才可以回復 *@
<p>
    @Html.ActionLink("回覆文章", "Create", "Reply", new { articleID = Model.ID }, new { @class="btn btn-success"})
</p>

@*@Html.Action("index", "reply", new { articleID = Model.ID})*@
@* 方法三，給Partial View的MODEL直接在這邊取得，不走Controller *@
@Html.Partial("_ReplyList",Model.ARTICLEREPLY.OrderBy(x=>x.BUD_DTM).ToList())
